<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.xwjack.osx.Dylib</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
		<string>com.apple.dt.unit.osxBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds a library that links against the Cocoa framework.</string>
	<key>SortOrder</key>
	<integer>10</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaLibraryOrFrameworkTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>EXECUTABLE_PREFIX</key>
				<string>lib</string>
				<key>SKIP_INSTALL</key>
				<string>YES</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Headers</string>
				</dict>
				<dict>
					<key>ShellScript</key>
					<string>./Tools/reverse.sh</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<false/>
					<key>Class</key>
					<string>ShellScript</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>libraryFramework</string>
			<key>Name</key>
			<string>Framework:</string>
			<key>Description</key>
			<string>What system framework the library will be based on</string>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>Cocoa</string>
				<string>STL (C++ Library)</string>
				<string>None (Plain C/C++ Library)</string>
			</array>
			<key>Default</key>
			<string>Cocoa</string>
			<key>Units</key>
			<dict>
				<key>Cocoa</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAMEASIDENTIFIER___.h</string>
							<string>___PACKAGENAMEASIDENTIFIER___.m</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAMEASIDENTIFIER___.h</key>
							<dict>
								<key>Path</key>
								<string>Cocoa___PACKAGENAMEASIDENTIFIER___.h</string>
							</dict>
							<key>___PACKAGENAMEASIDENTIFIER___.m</key>
							<dict>
								<key>Path</key>
								<string>Cocoa___PACKAGENAMEASIDENTIFIER___.m</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>STL (C++ Library)</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>GCC_ENABLE_CPP_EXCEPTIONS</key>
									<string>YES</string>
									<key>GCC_ENABLE_CPP_RTTI</key>
									<string>YES</string>
								</dict>
							</dict>
						</array>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAMEASIDENTIFIER___.hpp</string>
							<string>___PACKAGENAMEASIDENTIFIER___Priv.hpp</string>
							<string>___PACKAGENAMEASIDENTIFIER___.cpp</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAMEASIDENTIFIER___.hpp</key>
							<dict>
								<key>Path</key>
								<string>STL___PACKAGENAMEASIDENTIFIER___.hpp</string>
							</dict>
							<key>___PACKAGENAMEASIDENTIFIER___.cpp</key>
							<dict>
								<key>Path</key>
								<string>STL___PACKAGENAMEASIDENTIFIER___.cpp</string>
							</dict>
							<key>___PACKAGENAMEASIDENTIFIER___Priv.hpp</key>
							<dict>
								<key>Path</key>
								<string>STL___PACKAGENAMEASIDENTIFIER___Priv.hpp</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>libraryType</key>
							<string>Dynamic</string>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
									<string>YES</string>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
				<key>None (Plain C/C++ Library)</key>
				<array>
					<dict/>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>libraryType</string>
			<key>Name</key>
			<string>Type:</string>
			<key>Description</key>
			<string>Which type of library to create</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Dynamic</string>
			<key>Units</key>
			<dict>
				<key>Dynamic</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>ProductType</key>
								<string>com.apple.product-type.library.dynamic</string>
								<key>SharedSettings</key>
								<dict>
									<key>DYLIB_COMPATIBILITY_VERSION</key>
									<string>1</string>
									<key>DYLIB_CURRENT_VERSION</key>
									<string>1</string>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
				<key>Static</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>ProductType</key>
								<string>com.apple.product-type.library.static</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../Resources</key>
		<dict>
			<key>Path</key>
			<string>Resources</string>
		</dict>
		<key>../Tools/reverse.sh</key>
		<dict>
			<key>Path</key>
			<string>Tools/reverse.sh</string>
			<key>Group</key>
			<array>
				<string>Tools</string>
			</array>
		</dict>
		<key>../libs/libsubstitute.dylib</key>
		<dict>
			<key>Path</key>
			<string>libs/libsubstitute.dylib</string>
			<key>Group</key>
			<array>
				<string>libs</string>
			</array>
		</dict>
		<key>../Tools/insert_dylib</key>
		<dict>
			<key>Path</key>
			<string>Tools/insert_dylib</string>
			<key>Group</key>
			<array>
				<string>Tools</string>
			</array>
		</dict>
		<key>../libs/substrate.h</key>
		<dict>
			<key>Path</key>
			<string>libs/substrate.h</string>
			<key>Group</key>
			<array>
				<string>libs</string>
			</array>
		</dict>
		<key>Core/fishhook.h</key>
		<dict>
			<key>Path</key>
			<string>Core/fishhook.h</string>
			<key>Group</key>
			<array>
				<string>Core</string>
			</array>
		</dict>
		<key>Core/fishhook.c</key>
		<dict>
			<key>Path</key>
			<string>Core/fishhook.c</string>
			<key>Group</key>
			<array>
				<string>Core</string>
			</array>
		</dict>
		<key>Core/ReverseBegin.m</key>
		<dict>
			<key>Path</key>
			<string>Core/ReverseBegin.m</string>
			<key>Group</key>
			<array>
				<string>Core</string>
			</array>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>../Resources</string>
		<string>../Tools/reverse.sh</string>
		<string>../libs/libsubstitute.dylib</string>
		<string>../libs/substrate.h</string>
		<string>../Tools/insert_dylib</string>
		<string>Core/ReverseBegin.m</string>
		<string>Core/fishhook.h</string>
		<string>Core/fishhook.c</string>
	</array>
</dict>
</plist>
