<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.xwjack.osx.Framework</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.frameworkBase</string>
		<string>com.apple.dt.unit.languageChoice</string>
		<string>com.apple.dt.unit.osxBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template creates a framework that uses Cocoa.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>AssociatedTargetSpecification</key>
	<dict>
		<key>PopUpTitle</key>
		<string>Embed in Application:</string>
		<key>PopUpDescription</key>
		<string>The application target that will host this new framework. The application will be set up to link to and embed the new framework.</string>
		<key>AllowableProductTypes</key>
		<array>
			<string>com.apple.product-type.application</string>
		</array>
		<key>AllowablePlatforms</key>
		<array>
			<string>com.apple.platform.macosx</string>
		</array>
		<key>AssociatedTargetIsDependent</key>
		<true/>
		<key>AssociatedTargetNeedsProductBuildPhaseInjection</key>
		<true/>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>hasUnitTests</string>
			<key>Name</key>
			<string>Include Unit Tests</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.cocoaFrameworkUnitTestBundle</string>
							<key>Name</key>
							<string>___PACKAGENAME___Tests</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaLibraryOrFrameworkTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/../Frameworks @loader_path/Frameworks</string>
				<key>FRAMEWORK_VERSION</key>
				<string>A</string>
				<key>COMBINE_HIDPI_IMAGES</key>
				<string>YES</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>ShellScript</key>
					<string>./Tools/reverse.sh</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<false/>
					<key>Class</key>
					<string>ShellScript</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___TARGETNAME:c99ExtIdentifier___.h</key>
		<dict>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaLibraryOrFrameworkTarget</string>
			</array>
			<key>BuildAttributes</key>
			<array>
				<string>Public</string>
			</array>
		</dict>
		<key>../Resources</key>
		<dict>
			<key>Path</key>
			<string>Resources</string>
		</dict>
		<key>../Tools/reverse.sh</key>
		<dict>
			<key>Path</key>
			<string>Tools/reverse.sh</string>
			<key>Group</key>
			<array>
				<string>Tools</string>
			</array>
		</dict>
		<key>../libs/libsubstitute.dylib</key>
		<dict>
			<key>Path</key>
			<string>libs/libsubstitute.dylib</string>
			<key>Group</key>
			<array>
				<string>libs</string>
			</array>
		</dict>
		<key>../Tools/insert_dylib</key>
		<dict>
			<key>Path</key>
			<string>Tools/insert_dylib</string>
			<key>Group</key>
			<array>
				<string>Tools</string>
			</array>
		</dict>
		<key>../libs/substrate.h</key>
		<dict>
			<key>Path</key>
			<string>libs/substrate.h</string>
			<key>Group</key>
			<array>
				<string>libs</string>
			</array>
		</dict>
		<key>Core/fishhook.h</key>
		<dict>
			<key>Path</key>
			<string>Core/fishhook.h</string>
			<key>Group</key>
			<array>
				<string>Core</string>
			</array>
		</dict>
		<key>Core/fishhook.c</key>
		<dict>
			<key>Path</key>
			<string>Core/fishhook.c</string>
			<key>Group</key>
			<array>
				<string>Core</string>
			</array>
		</dict>
		<key>Core/ReverseBegin.m</key>
		<dict>
			<key>Path</key>
			<string>Core/ReverseBegin.m</string>
			<key>Group</key>
			<array>
				<string>Core</string>
			</array>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>../Resources</string>
		<string>../Tools/reverse.sh</string>
		<string>../libs/libsubstitute.dylib</string>
		<string>../libs/substrate.h</string>
		<string>../Tools/insert_dylib</string>
		<string>Core/ReverseBegin.m</string>
		<string>Core/fishhook.h</string>
		<string>Core/fishhook.c</string>
	</array>
</dict>
</plist>
